<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Software Solutions</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/freelancer.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
    <style>
        header .container {
            padding-bottom: 100px !important;
            padding-top: 50px !important;
        }
    </style>
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Employee Application</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>@Html.ActionLink("Employe List", "Index", "Employe")</li>
                    <li>@Html.ActionLink("Add Employe", "Create", "Employe")</li>
                </ul>
            </div> 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                    </div>
                    <div class="footer-col col-md-4">
                    </div>
                    <div class="footer-col col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p><a href="http://www.mastersoftwaresolutions.com/">Master Software Solutions</a> - MVC with NoSQL Database(MongoDB) Application</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/freelancer.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
